.checkbox {
  height: 30px;
  width: 60px;
  background: #222;
  appearance: none;
  border-radius: 160px;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.5), inset 0 -4px 4px rgba(0, 0, 0, 0.9);
  position: relative;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.checkbox::before {
  content: "Half";
  color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 160px;
  transform: scale(0.8);
  transition: 0.5s;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 1px 1px rgba(255, 255, 255, 0.2),
    inset -1px 1px rgba(255, 255, 255, 0.2);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.checkbox:checked {
  background: white;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
.checkbox:checked::before {
  content: "Full";
  color: black;
  left: 30px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1),
    inset 1px 1px rgba(255, 255, 255, 1), inset -1px 1px rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  font-size: 12px;
}

/* .toggle-label {
  height: 30px;
  width: 60px;
  background: #222;
  border-radius: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
}

.checkbox:checked + .toggle-label::before {
  content: "Half Day"; 
  left: 30px;
}

.toggle-label::before {
  content: "Full Day";
  height: 30px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 160px;
  transform: scale(0.8);
  transition: 0.5s;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 2px 2px rgba(255, 255, 255, 0.2),
    inset -2px 2px rgba(255, 255, 255, 0.2);
}

.checkbox:checked + .toggle-label {
  background: white;
} */

/* .toggle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  color: white;
} */
